.main {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  background-color: rgba(255,255,255,0);
}

.title{
  border-width:0px;
  border-radius: 10px;
  position:absolute;
  overflow:hidden;

  background-color:rgba(255,255,255,1);
  padding:10px;
  box-shadow:0px 5px 15px 0px rgba(0,0,0,0.3);

  top:50px;
  left:100px;
  width:250px;
  height:200px;
  position:fixed;
}

.demo {
  border-width:0px;
  border-radius: 10px;
  position:absolute;
  overflow:hidden;

  background-color:rgba(255,255,255,1);
  padding:10px;
  box-shadow:0px 5px 15px 0px rgba(0,0,0,0.3);

  top:270px;
  bottom:170px;
  left:100px;
  width:250px;
  position:fixed;
}

.developer{
  border-width:0px;
  border-radius: 10px;
  position:absolute;
  overflow:hidden;

  background-color:rgba(255,255,255,1);
  padding:10px;
  box-shadow:0px 5px 15px 0px rgba(0,0,0,0.3);

  bottom:50px;
  left:100px;
  width:250px;
  height:100px;
  position:fixed;
}

.firstGraph {
  border-width:0px;
  border-radius: 10px;
  position:absolute;
  overflow:hidden;

  background-color:rgba(255,255,255,1);
  padding:10px;
  box-shadow:0px 5px 15px 0px rgba(0,0,0,0.3);

  top:50px;
  left:370px;
  width:750px;
  /* height:400px; */
}

/* .secondGraph {
  border-width:0px;
  border-radius: 10px;
  position:absolute;
  overflow:hidden;

  background-color:rgba(255,255,255,1);
  padding:10px;
  box-shadow:0px 5px 15px 0px rgba(0,0,0,0.3);

  top :710px;
  left:370px;
  width:650px;
} */

.thirdGraph {
  border-width:0px;
  border-radius: 10px;
  position:absolute;
  overflow:hidden;

  background-color:rgba(255,255,255,1);
  padding:10px;
  box-shadow:0px 5px 15px 0px rgba(0,0,0,0.3);

  top:50px;
  left:1140px;
  right:100px;
  bottom:50px;
  position:fixed;
}

.detail{
  border-width:0px;
  border-radius: 10px;
  position:absolute;
  overflow:hidden;

  background-color:rgba(255,255,255,1);
  padding:10px;
  box-shadow:0px 5px 15px 0px rgba(0,0,0,0.3);

  top:470px;
  left:370px;
  width:750px;
  height:400px;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
