.main {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  background-color: rgba(255,255,255,0.7);
}

.demo {
  border-width:0px;
  border-radius: 10px;
  position:absolute;
  overflow:hidden;

  background-color:rgba(255,255,255,1);
  padding:10px;
  box-shadow:0px 5px 15px 0px rgba(0,0,0,0.3);

  top:50px;
  bottom:170px;
  left:100px;
  width:250px;
}

.developer{
  border-width:0px;
  border-radius: 10px;
  position:absolute;
  overflow:hidden;

  background-color:rgba(255,255,255,1);
  padding:10px;
  box-shadow:0px 5px 15px 0px rgba(0,0,0,0.3);

  bottom:50px;
  left:100px;
  width:250px;
  height:100px;
}

.firstGraph {
  border-width:0px;
  border-radius: 10px;
  position:absolute;
  overflow:hidden;

  background-color:rgba(255,255,255,1);
  padding:10px;
  box-shadow:0px 5px 15px 0px rgba(0,0,0,0.3);

  top:50px;
  height:350px;
  left:370px;
  width:650px;
}

.secondGraph {
  border-width:0px;
  border-radius: 10px;
  position:absolute;
  overflow:hidden;

  background-color:rgba(255,255,255,1);
  padding:10px;
  box-shadow:0px 5px 15px 0px rgba(0,0,0,0.3);

  top:420px;
  left:370px;
  bottom:50px;
  width:650px;
}

.thirdGraph {
  border-width:0px;
  border-radius: 10px;
  position:absolute;
  overflow:hidden;

  background-color:rgba(255,255,255,1);
  padding:10px;
  box-shadow:0px 5px 15px 0px rgba(0,0,0,0.3);

  top:50px;
  left:1040px;
  right:100px;
  bottom:50px;
}


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
